@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu',sans-serif !important;
    background-color: rgb(225, 203, 165) !important;
}
.contact-img{
    width:200px;
    height:200px;
    border-radius: 40%;
}